.bodyCntr{
    background-color: #cccccc; 
}

.padding{
    padding-top: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    padding-left: 20px; 
}

@media screen and (max-width: 500px) {
    .padding{
        padding: 5px;
    }
}


.main{
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.nav{
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0 10px 0;
    width: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (max-width: 500px) {
    .nav{
        display: none
    };
}

.transactions{
    background-color: #ffffff;
    padding: 10px;
    width: calc(100% - 8% + 25%)
}

.topProducts{
    background-color: #eeeeee;
    padding: 10px;
    width: 25%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    font-size: 30px;
    letter-spacing: -3px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
}

.logOut{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

.mainNav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mainNav__item{
    width: 100%;
}

.mainNav__item--active{
    position: relative;
}

.mainNav__item--active::before{
    content: "";
    background-color: rgb(237, 134, 237);
    position: absolute;
    width: 3px;
    height: 100%;
    z-index: 1;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mainNav__item--active svg{
    fill: rgb(237, 134, 237);
}

.mainNav__link{
    color: #ffffff;
    font-size: 9px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;               
}

.mainNavIcon{
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.logOut{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.transactionsHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
}

.transactionsHeader__list, .incomeRow{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.transactionsHeading{
    flex-direction: column;
    align-items: flex-start;
}

.transactionsHeader__link{
    padding: 10px;
    display: block;
    margin-right: 10px;
}

.transactionsHeader__listItem{
    line-height: 1;
}

.title{
    font-size: 21px;
    line-height: 1;
}

.time{
    font-size: 11px;
    color: #666666;
}

.jobRole{
    display: block;
}

.avatarCntr{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.avatarCntr__caption{
    margin-left: 10px;
    font-size: 12px;
}

.avatar{
    border-radius: 50%;
    background-color: #111111;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarSvg{
    fill: #ffffff;
}

.incomeRow{
    display: flex;;
}

@media screen and (max-width: 500px) {
    .incomeRow{
        flex-direction: column;
    }
}



.incomeRow__item{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(100%/3);
    margin: 0 10px;
}

.incomeRow__item--btn{
    flex: 0 1 auto;
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .incomeRow__item, .incomeRow__item--btn{
        width: 100%;
        margin: 5px 0;
    }
}

.tableRow{
    font-size: 13px;
}

.pill{
    background-color: rgb(24 108 192);
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 10px;
    line-height: 1;
    border-radius: 10px;
}

.table{
    width: 100%;
}

.dataRow{
    padding: 20px;
}


.tableRow:nth-child(odd){
    background-color: #ccc;
}

.tableRow--heading{
    background-color: #111 !important;
    color: #ffffff;
}

.tableRow__cell{
    padding: 5px
}

.dataCntr{
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .dataCntr{
        padding: 20px 0;
    }
}

.dataRow{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px) {
    .dataRow{
        flex-direction: column;
    }
}

.dataColumn{
    display: flex;
    width: 50%;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .dataColumn{
        width: 100%;
        padding: 20px 0;
    }
}

.dataColumn:last-child{
    padding-right: 0;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .dataColumn:last-child{
        padding-left: 0;
    }
}


.dataHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* hide on mobile phones */
@media screen and (max-width: 500px) {
    .hide{
        display: none;
    }
}

/* hide on tablet */
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .hideTable{
        display: none;
    }
}